@model Vidly_App.ViewModel.CreateRoleViewModel
@{
    ViewBag.Title = "Create Role";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("CreateRole", "Administration", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.RoleName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.RoleName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.RoleName)
        </div>
    </div>
    <button type="submit" class="btn btn-primary col-md-2">Create Role</button>
}
